
/Animated Search Box
/Blog Card Grid
/Bottom Tab Bar Navigation
/Bread Crumb Navigation
/Carousel Slider
/Dark and Light Theme
/Digital Clock
/Drop Down Menu
/Glitch Effect
/Landing Page
/Loaders
/Login Page
/Pulse Search Bar
/Radio Button
/Responsive Footer
/Responsive Navbar
/Sign Up Page
/Simple Calculator
/Social Media Icons
/Sort HTML Table by Header Click
/Stylish Sidebar Menu
/Submit Button
/To Do List
/Toy Toggle Switch Button
